@model IEnumerable<ECommerce.Models.OrderVM>

@{
    ViewData["Title"] = "Accepted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
	.order_ad{
		width:150px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
</style>

<div class="container">
	<div class="row">
		<section id="cart_items">
			<div class="container">
				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="id image">Order ID</td>
								<td class="date">Date</td>
								<td class="price">Total Price</td>
								<td class="state">State</td>
								<td class="address total">Address</td>
								<td class="register"></td>
							</tr>
						</thead>
						<tbody>
                            @foreach (var item in Model) {
							<tr>
								<td class="order_id cart_product">
									<h4><a href="">@item.Id</a></h4>
								</td>
								<td class="order_date">
									<p>@item.CreatedAt</p>
								</td>
								<td class="order_total">
									<p class="order_total_price">$@item.TotalPrice</p>
								</td>
								<td class="order_state">
									<p class="order_st">@item.OrderStatus</p>
								</td>
								<td class="order_address">
									<p class="order_ad">@item.Address</p>
								</td>
								<td class="order_register cart_delete">
									<button class="order_rg btn btn-primary rounded" style="margin-bottom:30px">Register</button>
								</td>
							</tr>
                            }
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>


<h1>Waiting</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
