@model ECommerce.Models.ProductVM

@{
    ViewData["Title"] = "View";
}
<style>
	#home_bread:after {
		left:50px!important;
	}
	#product_bread:after {
		left:137px!important;
	}
</style>

<div class="breadcrumbs" style="margin-bottom: -50px">
	<ol class="breadcrumb">
		<li><a id="home_bread" asp-controller="home" asp-action="index">Home</a></li>
		<li><a id="product_bread" asp-controller="product" asp-action="index">Products</a></li>
		<li class="active">Product Details</li>
	</ol>
</div>
<h1>Item Details</h1>
<hr/>
<div class="product-details"><!--product-details-->
	<div class="col-sm-5">
		<div class="view-product">
			<img src="~/@Model.ImageUrl" alt="" />
		</div>
	</div>
	<div class="col-sm-7">
		<div class="product-information"><!--/product-information-->
			<img src="~/images/product-details/new.jpg" class="newarrival" alt="" />
			<h2>@Model.Name</h2>
			<p>Web ID: @Model.Id</p>
            <div>
				<img src="~/images/product-details/rating.png" alt="" />
			</div>
			<span>
				<span>US $@Model.Price</span>
				<label>Quantity:</label>
					<input name="quantity" type="number" value="1" min="0" max="@Model.Quantity" id="quantityInput"/>
				<label style="margin-left:10px">@Model.Unit</label>
				<button type="button" class="btn btn-fefault cart" id="addToCart">
					<i class="fa fa-shopping-cart"></i>
					Add to cart
				</button>
			</span>
			<p><b>Availability:</b>
                @if(@Model.Quantity > 0){
                     @:In Stock
				}
                else{
					 @:Not Available Now ... Come Back Later
                }
            </p>
			@*<p><b>Condition:</b> New</p>*@
            @for(var index = 0;index < Model.AttributeValues.Count; index++){
                <p>
                    <b>@Model.AttributeValues[index].Attribute.Name: </b>
                    @Model.AttributeValues[index].Value
                </p>
            }
            <p><b>Description: </b> @Model.Description</p>
			<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
		</div><!--/product-information-->
	</div>
</div><!--/product-details-->
<button style="display:none" type="button" class="btn btn-primary" id="toggle-@Model.Id"
    data-toggle="modal" data-target="#info-@Model.Id">Small modal</button>

<div class="modal fade bd-example-modal-sm" id="info-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Information Message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true" style="margin-top:-20px">&times;</div>
                </button>
            </div>
            <div class="modal-body">
                Item @Model.Name Added <span id="quantit"></span> times to your cart
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="margin-top:16px" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="checkCart">Check your Cart</button>
            </div>
        </div>
    </div>
</div>			
<script>
$('#checkCart').on('click',function(e){
    window.location.href = '/cart/index';
});
$('#addToCart').on('click', function(e) {
	var data = $('#quantityInput').val();
	var actionUrl = "/Cart/AddToCart";
	var delay = $('#addToCart').data('delay')
	if(delay != undefined){
		clearTimeout(delay);
		$('#addToCart').data('delay', undefined);
	}
	delay = setTimeout(function(e){
		$('#addToCart').data('delay', undefined);
		$.ajax({
			url: actionUrl,
			type: "POST",
			data: {
				'prod_id': @Model.Id,
				'quantity': data, 
			},
			success: function (result) {
				console.log("first call:" + result);
                $('#quantit').text(data);
				$('#toggle-@Model.Id').click();
			},
			error: function (xhr, textStatus, error) {
				console.log(xhr.statusText);
				console.log(textStatus);
				console.log(error);
			}
		});
	}, 300);
	$('#addToCart').data('delay', delay);
});
</script>

<div>
	<button class="btn btn-primary rounded" style="color:white!important">
		@Html.ActionLink("Edit Category", "Edit", new {  id = Model.Id  },
			new{style="color:white!important"})
    </button>
    <button class="btn btn-primary rounded" >
		@Html.ActionLink("Edit Attibute", "EditAttribute", new {  id = Model.Id  },
			new{style="color:white!important"}) 
    </button>
    <button class="btn btn-primary rounded" >
		<a asp-action="Index" style="color:white!important">Back to List</a>
    </button>
</div>
