@model ECommerce.Models.ProductVM

@{
    ViewData["Title"] = "Edit";
    var categories = (ViewData["categories"]) as List<CategoryVM>;
    var sel_categories = new List<CategoryVM>();
    if(Model.Categories != null){
        sel_categories = Model.Categories as List<CategoryVM>;
    }
}
 
<link rel="stylesheet" href="~/css/atter.css" />

<script>
    $(document).ready(function() {
        $('#image_input').find('#image').click(function() {
            $("#image_input input[type='file']").trigger('click');
        })

        $("#image_input").find("input[type='file']").change(function() {
            $('#image_input #val').text(this.value.replace(/C:\\fakepath\\/i, ''))
        })

        $("#image_input")
            .find("#val")
            .text("@Html.Raw(Model.ImageUrl)")
    })
    function reassignment() {
        selected_categories = []
        let all_category_selector = $('#all_category_selector');
        all_category_selector.find('select option:selected').each(
            function () {
                if ($(this).val() != '0')
                    selected_categories.push({'id': $(this).val(), 'name': $(this).text()})
            }
        )
        all_category_selector.find('select').each(
            function () {
                let id = $(this).find('option:selected').val();
                $(this).children().remove();
                $(this).append(
                    $('<option/>', {
                        'value': '0',
                    }).text('Select a category')
                );
                for (let c of categories) {
                    let ok = true;
                    for (let sc of selected_categories) {
                        if (sc['id'] == c['id']) {
                            ok = false;
                        }
                    }
                    if (id == c['id'])
                        ok = true;
                        
                    if (ok) {
                        $(this).append(
                            $('<option/>', {
                                'value': c['id'],
                                'selected': (id == c['id'])
                            }).text(c['name'])
                        );
                    }
                }
            }
        )
    }

    function add_new_category_selector() {
        $('#all_category_selector').append(
            $('<div/>', {
                'class': "d-flex align-items-center mb--20"
            }).append(
                $('<select />',{
                    'class':'select_css form-select'
                }),
                $('<h2/>', {
                    'class': 'btn btn-danger'
                }).append(
                    $('<i/>', {
                        'class': "bi bi-trash",
                        'aria-hidden': true
                    })
                ).on('click', (e) => {
                    e.currentTarget.parentNode.remove()
                    reassignment();
                })
            )
        ).on('change', () => reassignment());
        reassignment();
    }

    function add_new_category_init(val) {
        $('#all_category_selector').append(
            $('<div/>', {
                'class': "d-flex align-items-center mb--20"
            }).append(
                $('<select />',{
                    'class':'select_css form-select'
                })
                .append(
                    $('<option/>', {
                        'value': val['id'],
                        'selected':true
                    })
                    .text(val['name'])
                ),
                $('<h2/>', {
                    'class': 'btn btn-danger'
                }).append(
                    $('<i/>', {
                        'class': "bi bi-trash",
                        'aria-hidden': true
                    })
                ).on('click', (e) => {
                    e.currentTarget.parentNode.remove()
                    reassignment();
                })
            )
        ).on('change', () => reassignment());
    }

    function submit_form() {
        let index = 0 
        $('#all_category_selector')
            .find('select option:selected')
            .each(function () {
                if ($(this).val() !== '0') {
                    console.log($(this).val())
                    $(this).parent().attr('name', 'category[]')
                }
            });
        $('#form_cat').submit()
    }

    let categories = []
    let selected_categories = []
    @foreach(var c in categories){
        @:categories.push({ 'name': "@c.Name", 'id': @c.Id});
    }
    @for(int i = 0 ; i < sel_categories.Count ; i ++){
        @:selected_categories.push({ 'name': "@sel_categories[i].Name", 'id': @sel_categories[i].Id});
    }
    
    $(document).ready(function(){
        for (var i = 0; i < selected_categories.length; i++) {
            add_new_category_init(selected_categories[i]);
        }
        reassignment()
    })
</script>

                            
<h1 class="mt-3">Edit Product Categories</h1>

<hr />

<div class="container">
    <div class="row">
        <input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
            <div class="controls" id="profs">
                
                <div class="row d-flex align-items-baseline">
                
                    <form asp-action="Edit" method="post" class="input-append col-lg-6 col-sm-12 d-flex" 
                        style="flex-direction:column" id="basic-form" enctype="multipart/form-data">
                         <input asp-for="ImageUrl" type="text" hidden>
                        
                        <div id="field11" class="d-flex justify-content-center" style="flex-direction:column">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            
                            <div hidden class="form-group">
                                <label asp-for="Id" class="col-form-label mt-4"></label>
                                <input asp-for="Id" class="form-control"/>
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>

                            <div class="form-group" hidden>
                                <label asp-for="Name" class="col-form-label mt-4"></label>
                                <input asp-for="Name" class="form-control" >
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Name" class="col-form-label mt-4"></label>
                                <input asp-for="Name" class="form-control" disabled="" name="nothing"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="col-form-label mt-4"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                             <div class="form-group">
                                <label asp-for="Price" class="col-form-label mt-4"></label>
                                <input asp-for="Price" type="number" class="form-control" min="1"  
                                    placeholder="bigger than 0">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Quantity" class="col-form-label mt-4"></label>
                                <input asp-for="Quantity" type="number" class="form-control" min="0"  
                                    placeholder="bigger than 0">
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>

                            <div class="form-group d-flex justify-content-between">
                                <label asp-for="PriceIsInteger" class="col-form-label mt-4"></label>
                                <input asp-for="PriceIsInteger" type="checkbox" class="form-check-input"
                                    style="margin-top:35px;width:30px;height:30px">
                            </div>

                            <div class="form-group">
                                <label asp-for="Unit" class="col-form-label mt-4"></label>
                                <input asp-for="Unit" type="text" class="form-control" 
                                    placeholder="like item,piece,etc">
                                <span asp-validation-for="Unit" class="text-danger"></span>
                            </div>

                            <div class="form-group" id="image_input">
                                <label asp-for="ImageUrl" class="col-form-label mt-4"></label>
                                <input name="uploadFile" type="file" id="Image_url" 
                                    class="form-control add_file_btn" hidden>
                                <div class="d-flex align-items-center">
                                    <div id='image' class="btn btn-outline-primary rounded">Select File</div>
                                    <div id='val' style="margin-left:10px"></div>
                                </div>
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex justify-content-center align-items-center col-lg-6 col-sm-12"
                        style="flex-direction:column">
                        <div id="add_cat" class="btn btn-primary rounded add_atter_btn mt-3"
                            onclick="add_new_category_selector()">
                            <i class="bi bi-plus-circle-fill"></i> Add Category
                        </div>
                        <form id="form_cat" asp-action="AssignCategories" method="post">
                            <input hidden name = "prod_id" type="text" value="@Model.Id" />
                            <div class="col-6 mb--20" id="all_category_selector">
                            </div>
                        </form>
                        <button class="btn btn-outline-primary rounded submit_btn mt-3" 
                                style="width:200px!important" onclick="submit_form()">
                            Save Categories
                        </button>
                    </div>
                </div>

                <div class="form-group d-flex justify-content-center">
                    <button id="submit-basicForm"class="btn btn-primary rounded submit_btn mt-3">
                        Save    
                    </button>
                </div>   
                <br>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#submit-basicForm').click(function() {
        $('#basic-form').submit();
    })
})
</script>