@model ECommerce.Models.OrderVM

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	#cart_items .cart_info{
		border: none;
	}
	.spacer{
		height: 10px;
	}
	.w80{ 
		margin-left:125px;
		width:100px;
	}
	#cart_bread:after{
		left:150px;
		top:10px;
	}
	.butn{
		font-size:14pt;
	}
	#cart_bread{
		padding:10px 30px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="breadcrumbs" style="margin-bottom: -50px">
			<ol class="breadcrumb">
				<li><a asp-controller="home" asp-action="index">Home</a></li>
				<li class="active">Checkout</li>
			</ol>
		</div>
		<h1>Ckeck Out</h1>
		<h4><i>My Cart</i></h4>
		<hr />
		
		<div class="spacer"></div>
		<section id="cart_items">
			<div class="container">
				<div class="table-responsive cart_info">
					<table id="table" class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image">Item</td>
								<td class="description"></td>
								<td class="price">Price</td>
								<td class="quantity">Quantity</td>
								<td class="units">Units</td>
								<td class="total">Total</td>
								<td class="notes">Notes</td>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.OrderProduct) {
								<tr>
									<td class="cart_product">
										<a asp-controller="product" asp-action="details" asp-route-id="@item.Id">
											<img src="~/@item.Product.ImageUrl" height="150" width="150" alt="">
										</a>
									</td>

									<td class="cart_description">
										<h4>
											<a asp-controller="product" asp-action="details" asp-route-id="@item.Id">
												@item.Product.Name
											</a>
										</h4>
										<p>@item.Product.Description</p>
									</td>
									<td class="cart_price">
										<p>$@item.Product.Price</p>
									</td>
									<td class="cart_quantity">
										<div class="quan">
											<input name="quantity" autocomplete="off" 
												style="width:80px;height:33px;margin:0"
												type="number" value ="@item.Quantity" disabled>
											<input name="prod_id" type="number" value="@item.ProductId" 
												style="display:none" hidden readonly>
										</div>
									</td>
									<td class="cart_unit">
										<p class="cart_units">@item.Product.Unit</p>
									</td>
									<td class="cart_total">
										<p class="cart_total_price" id="tot-@item.ProductId">
											@{
												double result = item.Quantity * item.Product.Price;
																								@:$ @result  
											}
										</p>
									</td>
									<td>
										<textarea id="not-@item.ProductId" rows="5"
											placeholder="Feel free to add some Notes"></textarea>
										<script>
											$('#not-@item.ProductId').on('keyup',function(e){
                                                var id = $(this).attr('id').substr(4);
												$('#nid-' + id).val($(this).val());
											});
										</script>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="col-md-4">
					<form asp-action="checkout" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						@for(var i= 0; i < Model.OrderProduct.Count; i++){
							@Html.EditorFor(model => model.OrderProduct[i].ProductId , 
								new { htmlAttributes = new { @class = "form-control", style="display:none;" }})
							@Html.EditorFor(model => model.OrderProduct[i].Quantity , 
								new { htmlAttributes = new { @class = "form-control", style="display:none;" }})
							@Html.EditorFor(model => model.OrderProduct[i].Notes , 
								new { htmlAttributes = new { @class = "form-control", 
									@id="nid-" + @Model.OrderProduct[i].ProductId, style="display:none;" } })
						}
						<div class="form-group">
							<label class="col-form-label mt-4" for="TotalPrice">Total Price:</label>
							<input asp-for="TotalPrice" class="form-control" disabled/>
							<span asp-validation-for="TotalPrice" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Address" class="control-label"></label>
							<input asp-for="Address" class="form-control" 
								placeholder="Add your Address here..."/>
							<span asp-validation-for="Address" class="text-danger"></span>
						</div>
						<div class="form-group">
						<input type="submit" value="Save" class="btn btn-primary w80 butn" />
					</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="container">
	<div class="breadcrumbs" style="margin-bottom: -50px">
		<ol class="breadcrumb">
			<li class="butn ml-3"><a id="cart_bread" asp-action="Index">Back to Cart</a></li>
		</ol>
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
