@model IEnumerable<ECommerce.Models.ProductVM>

@{
    ViewData["Title"] = "Product";
    var orderProducts = ViewData["OrderProductVM"] as List<OrderProductVM>;
    Dictionary<int, double> temp= new Dictionary<int, double>();
    foreach (var prod in orderProducts)
        temp[prod.ProductId] = prod.Quantity;
}

<style>
	.quan{
		display:flex;
		justify-content:flex-start;
		align-items:flex-start;
	}
</style>

<script>
	function updateTotal(){
		let sum = 0;
		$('.cart_total_price').each(function(index) {
			sum += parseFloat($(this).text());
		});
		$('#total').text(sum);
	}
</script>

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a asp-controller="home" asp-action="index">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="units">Units</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model) {
						<form class="atter atter-temp col-12" id="form-@item.Id" action="" method="post">
							<tr>
								<td class="cart_product">
									<a href=""><img src="@item.ImageUrl" height="200" width="200" alt=""></a>
								</td>

								<td class="cart_description">
									<h4><a href="">@item.Name</a></h4>
									<p>@item.Description</p>
								</td>
								<td class="cart_price">
									<p>$@item.Price</p>
								</td>
								<td class="cart_quantity">
									<div class="quan">
										<div class="btn btn-primary" style="margin:0" id="up-@item.Id"> + </div>
										<div>
											<input name="quantity" autocomplete="off" 
												style="width:80px;height:33px;margin:0"
												type="number" step="@(item.PriceIsInteger ? 1 : 0.01)"
												id="totalAmount-@item.Id" value ="@temp.GetValueOrDefault(item.Id)" 
												min="0" max="@item.Quantity">
											<input name ="prod_id" type="number" value ="@item.Id" style="display:none" hidden readonly>
										</div>
										<div class="btn btn-primary" style="margin:0" id="down-@item.Id"> - </div>
									</div>
								</td>
								<td class="cart_unit">
									<p class="cart_units">@item.Unit</p>
								</td>
								<td class="cart_total">
									<p class="cart_total_price" id="tot-@item.Id"></p>
								</td>
								<td class="cart_delete">
									<div class="btn btn-primary" style="margin:0" id="delete-@item.Id"> <i class="fa fa-times"></i> </div>
								</td>
							</tr>
							<script>
								$(document).ready(function() {
									$('#up-@item.Id').click(function(e) { 
									let id = $(this).attr('id').substr(3)
									let value = parseFloat($('#totalAmount-'+id).val())
									value += @(item.PriceIsInteger ? 1 : 0.01)
									value = Math.min(value,@item.Quantity)
									value = value.toPrecision(4)
									$('#totalAmount-'+id).val(value)
									$('#totalAmount-@item.Id').trigger('change')
								});

								$('#down-@item.Id').click(function(e) { 
									let id = $(this).attr('id').substr(5)
									let value = parseFloat($('#totalAmount-'+id).val())
									value -= @(item.PriceIsInteger ? 1 : 0.01)
									value = Math.max(value,0)
									value = value.toPrecision(4)
									$('#totalAmount-'+id).val(value)
									$('#totalAmount-@item.Id').trigger('change')
								});

								$('#totalAmount-@item.Id').on('change',function(e) {
									let id = $(this).attr('id').substr(12)
									let value = parseFloat($(this).val()) * @item.Price
									value = value.toPrecision(4)
									$('#tot-' + id).text(value)
									updateTotal();
								});

								$('#totalAmount-@item.Id').trigger('change')

								$('#totalAmount-@item.Id').on('change',function (e) {
									id = $(this).attr('id').substr(12)
									var form = $('#form-'+ id);
									var obj = form.serializeArray()
									console.log(obj)
									e.preventDefault(); 
									var actionUrl = "Cart/AddToCart";
									var delay = $('#totalAmount-' + id).data('delay')
									if(delay != undefined){
										clearTimeout(delay);
									$('#totalAmount-' + id).data('delay', undefined);
									}
									delay = setTimeout(function(e){
										$('#totalAmount-' + id).data('delay', undefined);
										$.ajax({
										url: actionUrl,
										type: "POST",
										data: {
											'prod_id': obj[1]['value'],
											'quantity':obj[0]['value'], 
										},
										success: function (result) {
											console.log("first call:" + result);
										},
										error: function (xhr, textStatus, error) {
											console.log(xhr.statusText);
											console.log(textStatus);
											console.log(error);
										}
									});
								}, 300);
									$('#totalAmount-' + id).data('delay', delay);
								});

								var actionUrl1 = "Cart/DeleteFromCart";
								$('#delete-@item.Id').click(function(e) { 
								let id = $(this).attr('id').substr(7)
								delay = setTimeout(function(e){
								$.ajax({
								url: actionUrl1,
									type: "POST",
										data: {
											'prod_id': id,
										},
										success: function (result) {
											console.log("first call:" + result);
										},
										error: function (xhr, textStatus, error) {
											console.log(xhr.statusText);
											console.log(textStatus);
											console.log(error);
										}
										});
									});
								});
								$('#totalAmount-@item.Id').trigger('change')
							})
							</script>
						</form>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->


<section id="do_action">
	<div class="container">
		<div class="row" style="display:flex;justify-content:end">
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>
							<h4>Total <span><i>$</i><span id="total">000</span></span></</h4>
						</li>
					</ul>
					<button class="btn btn-default update" id='clear'>Clear</button>
					<button class="btn btn-default check_out" id="goToCheckOut">Check Out</button>
				</div>
			</div>
		</div>
	</div>
</section><!--/#do_action-->

<script>
$('#clear').on('click', function(e) {
	@foreach(var item in temp){
		@:$('#delete-' + @item.Key).click();
	}
});

$('#goToCheckOut').on('click', function(e) {
    window.location.href = '/cart/MyCart';
});
</script>