@model ECommerce.Models.CategoryVM

@{
    ViewData["Title"] = "Edit";
    AttributeVM a = new AttributeVM
    {
        Description = "Description-Example",
        Name = "Name-Example",
        Required = true,
        Id = -1
    };
    ValueTypeVM vt = new ValueTypeVM
    {
        Name = "Name-Value-Example" ,
        Type= "Int",
        Id = -1 
    };
    a.ValueType = vt;
}
<link rel="stylesheet" href="~/css/atter.css" />


<h1 class="mt-3">Edit Category</h1>

<hr />

<div class="container">
    
    <div class="row">
        <input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
            <div class="controls" id="profs">

                @*<form asp-action="Edit" class="input-append col-12 d-flex" style="flex-direction:column">*@

                    <div class="row d-flex align-items-baseline">
                        <div id="field11" class="d-flex justify-content-center col-6" style="flex-direction:column">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-form-label mt-4"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="col-form-label mt-4"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group" id="image_input">
                                <label asp-for="ImageUrl" class="col-form-label mt-4"></label>
                                <input asp-for="ImageUrl" type="file" id="Image_url" 
                                    class="form-control add_file_btn" hidden>
                                <div class="d-flex align-items-center">
                                    <div id='image' class="btn btn-outline-primary rounded">Select File</div>
                                    <div id='val' style="margin-left:10px"></div>
                                </div>
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                        </div>

                        <div id="field0" class="d-flex justify-content-center align-items-center col-6" style="flex-direction:column">
                            <div id="add_atter" class="btn btn-primary rounded add_atter_btn">
                                <i class="bi bi-plus-circle-fill"></i> Add Attribute
                            </div>
                            <div id="container" class="container">

                                    @for (var i = 0 ; i <Model.Attributes.Count; i ++){
                                    <div class="atter atter-temp" id="atter-id" action="/Attribute/FindOrCreate" method="post">
                                        <form class="atter atter-temp" id="atter-id">
                                                <div class="input_text">
                                                    <label class="col-form-label">CatAttribute Id: (hide it)</label>
                                                @Html.TextBox("cat_atr_id",Model.Attributes[i].Id, new { @class = "form-control",placeholder="name of the attribute" })
                                                </div>
                                                <div class="input_text">
                                                    <label class="col-form-label">attribute name:</label>
                                                @Html.TextBox("Name",Model.Attributes[i].Name, new { @class = "form-control",placeholder="name of the attribute" })
                                                </div>

                                                <div class="input_text">
                                                    <label class="col-form-label">attribute description:</label>
                                                @Html.TextArea("Description",Model.Attributes[i].Description, new { @class = "form-control",placeholder="name of the attribute" })
                                                </div>

                                                <div class="input_text">
                                                    <label class="col-form-label">attribute Type:</label>
                                                @Html.DropDownList("ValueType.Type",
                                                new SelectList(Enum.GetValues(typeof(ValueTypeEnum))), Model.Attributes[i].ValueType.Type == null ? "Select Type" : Model.Attributes[i].ValueType.Type,
                                                new{@class="form-control"})
                                                </div>

                                                <div class="input_text">
                                                    <label class="col-form-label">attribute unit:</label>
                                                @Html.TextBox("ValueType.Name", Model.Attributes[i].ValueType.Name,
                                                new { @class = "form-control",placeholder="can be empty" })
                                                </div>

                                                <div class="input_text">
                                                    @Html.Label("Required","Required:",new {@class="col-form-label"})
                                                    @Html.CheckBox(Model.Attributes[i].Required ? "T" : "F", Model.Attributes[i].Required
                                                ,new {@class="form-check-input", style="width:42px; "})
                                                </div>

                                                <div id="del-id" class="fonts delete_btn btn btn-danger rounded"> <i class="bi bi-trash3"></i> delete</div>

                                                <div id="save-id" class="fonts save_btn btn btn-outline-primary rounded"> <i class="bi bi-save"></i> Save</div>
                                           </form> </div>
                                }
                                <form action='/Attribute/FindOrCreate' method='post' id="form-idBASE">
                                    <div id="restoreform">
                                    <div class="atter" >
                                        <div class="input_text">
                                            <label class="col-form-label">CatAttribute Id: (hide it)</label>
                                            @Html.TextBox("cat_atr_id",a.Id, new { @class = "form-control",placeholder="name of the attribute" })
                                        </div>
                                        <div class="input_text">
                                            <label class="col-form-label">attribute name:</label>
                                            @Html.TextBox("Name",a.Name, new { @class = "form-control",placeholder="name of the attribute" })
                                        </div>
                                          <div class="input_text">
                                                    <label class="col-form-label">attribute description:</label>
                                                @Html.TextArea("Description",a.Description, new { @class = "form-control",placeholder="name of the attribute" })
                                                </div>
                                        <div class="input_text">
                                            <label class="col-form-label">attribute Type:</label>S
                                            @Html.DropDownList("ValueType.Type",
                                            new SelectList(Enum.GetValues(typeof(ValueTypeEnum))), a.ValueType.Type == null ? "Select Type" : a.ValueType.Type,
                                            new{@class="form-control"})
                                        </div>

                                        <div class="input_text">
                                            <label class="col-form-label">attribute unit:</label>
                                            @Html.TextBox("ValueType.Name", a.ValueType.Name,
                                            new { @class = "form-control",placeholder="can be empty" })
                                        </div>

                                        <div class="input_text">
                                            @Html.Label("Required","Required:",new {@class="col-form-label"})
                                            @Html.CheckBox(a.Required ? "T" : "F", a.Required
                                            ,new {@class="form-check-input", style="width:42px; "})
                                        </div>

                                        <div id="del-idBASE" class="fonts delete_btn btn btn-danger rounded"> <i class="bi bi-trash3"></i> delete</div>

                                        <div id="save-idBASE" class="fonts save_btn btn btn-outline-primary rounded"> <i class="bi bi-save"></i> Save</div>
                                    </div>
                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Save" class="btn btn-primary rounded submit_btn mt-3" />
                    </div>
                @*</form>*@
   
                <br>
            </div>
        </div>
    </div>
</div>
